

.topBar {
    color: white; background-color: black;  position: fixed; top:0% ; bottom:90%; left: 0%; right: 0 ;
}
.bottomBar {
    color: white; background-color: black; position: fixed; top:87% ; bottom:0%; left: 0%; right: 0 ;
}

.instruction1 {
    font-size: 1.9vh; text-align:center;
}

.instruction2 {
    text-align:center; position: fixed; left: 30%; translate: -50%; font-size: 1.9vh;
}

.inst_arrow {
    display:inline-block; width: 2.5vh; height: 2.5vh ;border: solid 1px white; text-align: center; font-size: 1.6vh;
}
    
.inst_spacebar {
    display:inline-block; width: 25vh; height: 2.2vh ;border: solid 1px white; text-align: start; font-size: 1.4vh;
}

.logo_bottom {
    position: absolute; transform-origin: center ; translate: 50% -50%; right:25%; top: 50%; height: 13vh;
}

.animBG {
     background-color: azure; position: fixed; top:10% ; bottom:13%; left: 0%; right: 0 ; padding: 15% 0%;
}

.logo_intro {
    position: absolute; transform-origin: center ; translate: -50% -50%; left:50%; top: 20%; height: 25vh;
}
.anim_intro {
    position: absolute; transform-origin: center ; translate: -50% -50%; left:50%; top: 58%; height: 42vh;
}

.game {
    background-color: transparent; display:block; text-align:center; position: fixed; top:10% ; left: 0%; right: 0 ; color: red;
}

.startBtn {
    color:black; background-color: transparent; border-style:none; position: absolute;
    font-size: 2vh; bottom:0%; left:50%; translate: -50%; animation: blinker 2s linear infinite;
    cursor: url("pointer.cur") 6 0, auto; padding: 0% 10%
}
  @keyframes blinker {
    50% {
      opacity: 0;
    }
}

.btnScreen2 {
    color: white; background-color: transparent; border: 1px white solid;  margin: 0px 1vw; padding: 0px 4vh; translate: 20% 50%; cursor: url("pointer.cur") 6 0, auto; font-size: 2vh;
}

.btnScreen2:hover {
    background-color:#636363;
}
.btnScreen2:active {
    background-color:#990000;
}

.restartBtn {
    position: absolute; right: 5%; margin: 0px; font-size: 1.9vh;
}